body{
    background-color: #add8e6;
    text-align: center;
}
img{
    border-radius:8px;
    margin-top: 12px;
    margin-bottom: 10px;
}
a:link {
    color: Darkblue;
}
a:hover {
    color: Dodgerblue;
}
.lis li{
  list-style-type:"✧ ";
  margin-left:100px;
  color:darkblue;
  padding: 15px 0;
}
.Equi{
    background-color:darkcyan; 
    width:300px;
    height:150px;
    border: 2px solid darkcyan;
}
.tt{
    background-color: darkturquoise;
    font-size: 23px;
}
.tt1{
    background-color: dodgerblue;
    font-size: 27px;
}
.Fun{
    background-color: purple; 
    width:300px;
    height:150px;
    border: 2px solid purple;
}
.tt2{
    background-color: darkmagenta;
    font-size: 23px;
}
.tt3{
    background-color:violet;
    font-size: 27px;
}
.tt4{
    font-size:50px;
}
.tt5{
    font-size:25px;
}
.tt6{
    font-size: 40px;
}
.tit{
    color:red;
    font-size: 50px;
}
.sub{
    color: darkblue;
    font-size: 23px;
}
.tab{
    background-color: #525252;
    width: 85%;
    align-items: center;
    text-align: center;
}
.tab1{
    background-color: darkturquoise;
}
.tab2{
    background-color: paleturquoise;
}
.tab3{
    color: black;
    font-size: 40px;
}
.tab4{
    color: black;
    font-size: 25px;
    width: 50%;
}
.tab5{
    background-color: lightgray;
    color: black;
    font-size: 20px;
}
.tab6{
    width: 100%;
    text-align: center;
}
.im1{
    width:250px; 
    height:250px;
}
.im2{
    width:250px; 
    height:150px;
}
.im3{
    width:200px; 
    height:150px;
    padding:5px;
}
.im4{
    width:170px; 
    height:150px;
}
.im5{
    width:160px; 
    height:150px;
}
.im6{
    width:150px; 
    height:150px;
}
.im7{
    width:150px; 
    height:200px;
}
.im8{
    width:180px; 
    height:150px;
}
.im9{
    width:300px; 
    height:150px;
}
.im10{
    width: 200px;
    height: 200px;
}
.im11{
    width: 260px;
    height: 250px;
}
.im12{
    width: 170px;
    height: 210px;
}
.im13{
    width: 300px;
    height: 300px;
}
.im14{
    width: 950px;
    height: 1500px;
}
.im15{
    width: 90%;
}
.boton{
    background-color: #a8a3a3;
}
.ventana{
    display: none;
    align-items: center;
    height: 120px;
    width: 540px;
    font-size: 15px;
    background-color: #b3b6b8;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    margin-top: 12px;
    margin-bottom: 10px;
}
@keyframes animacion {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
}            
@keyframes animacion2 {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
}
.OtrosRecursos{
    width: 90%;
}
.OtrosRecursosTD{
    width: 33%;
    text-align: center;
}
.aparecer{
    opacity: 0;
    animation: animacion2 2s ease forwards;
}
.menuTabla{
    width:500px;
    text-align: center;
}
.inputMenu{
    font-size: 25px;
    width: 100%;
    height: 75px;
    border-color: #030668;
    box-shadow: none;
    color: #030668;
}
.inputMenu1{
    background-color: lightblue;
    font-size: 35px;
    width: 100%;
    height: 75px;
    border-color: #030668;
    border-top: none;
    border-right:none;
    border-left: none;
    box-shadow: none;
    color: #030668;
}
.inputEquipo{
    background-color:transparent;
    width: 97%;
    height: 40px;
    border:none;
    color: #05173e;
    font-family: inherit;
    padding: 5px 5px;
    font-weight:10;
    font-size: 25px;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: none;
}
.inputEncuesta{
    background-color:#2b9cf3;
    color: #05173e;
    font-family: inherit;
    padding: 5px 5px;
    font-weight:10;
    font-size: 25px;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: 3px 3px;
}
.inputOtras{
    background-color:#9ecdf0;
    color: #05173e;
    font-family: inherit;
    padding: 5px 5px;
    font-weight:10;
    font-size: 25px;
    border-radius: 0.4em;
    cursor: pointer;
    box-shadow: 3px 3px;
}
input{
    background: #74bad1;
    font-family: inherit;
    padding: 5px 5px;
    font-weight:10;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 3px 3px;
    cursor: pointer;
}
input:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
input:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}